:root {
  --duration: 5s;
  --duration-double: 5s;
}

.container {
  width: 100%;
  background: #111;
}

.first-slide {
  font-size: 100px;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}

.first-slide span {
  display: inline-block;
  animation-name: slide-then-hide;
  animation-duration: var(--duration);
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

.words {
  width: inherit;
  font-size: 100px;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}

.words span {
  display: flex;
  animation-name: slide;
  animation-duration: var(--duration);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: backwards;
  color: red;
}

.words--second span {
  animation-delay: var(--duration);
  color: blue;
}

@keyframes slide {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
